body {
    background: #155263;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#title {
    background: #ffc93c;
    color: #155263;
    text-align: center;
    padding: 1%;
}

#title h1 {
    font-weight: 900;
}

#img-div {
    text-align: center;
}

#image {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

#img-caption {
    color: #ffc93c;
    padding: 10px;
}